<ion-view view-title="Pour aller plus loin">
  <ion-content class="padding">
  <div class="background">
  <div class="corpsinfo">
  
    <div class="list card">
		<div class="item item-divider">
			<div class="titreinfo">
			Les gestes au quotidien
			</div>
		</div>
		
		<div class="item item-body">
			Dans cette rubrique, vous trouverez les actions pouvant être faites au quotidien, simples, et auxquelles on ne pense pas vraiment 
			(accompagnées, comme il se doit, de statistiques). </br>
			
			<ul>
			<li> Première nouvelle : Si les 3000 étudiants que vous êtes faites pipi sous la douche, c'est pour l'environnement une économie 
			de <b>5 piscines olympiques par an !</b> Après à vous de décider si vous en parlez à vos colocs, ou pas... </li>
			</br>
			<div id="photoleft">
			<center><img style="width: 50%" ng-src="img/papier.png" /></center> <li>Deuxième nouvelle : L'impact écologique d'une campagne par mails et d'une campagne par papiers se vaut... Envoyer une lettre consomme 6 fois 
			plus qu'envoyer un mail, mais le mail est si facile, si rapide, que nous l'utilisons bien plus que la lettre (vous comprenez ici que vous avez 
			une raison de plus de <b>vous désinscrire des listes de diffusion dont vous ne lisez jamais les mails</b>).</li>
			</div>
			</br>
			<li> Une seule feuille blanche de format A4 nécessite pour être produite autant d'énergie qu'une ampoule de 75 W allumée
			pendant une heure. Mais une feuille peut être <b>recyclée et réutilisée jusqu'à 9 fois !</b></li>
			</br>
			<li> Laisser les appareils électroniques branchés alors qu'ils ont atteint la charge maximale (ou simplement les laisser en veille), 
			correspond en France à l'utilisation de <b>deux centrales nucléaires à plein régime !</b> 2 heures suffisent à charger un portable,
			ne le laissez pas une nuit entière.</li>
			</br>

			<center><img style="width: 50%" ng-src="img/economiseur.png" /></center><li> L'économiseur d'eau, c'est 4 euros d'investissement pour chaque robinet, 
			et une consommation d'eau divisée par deux (ce qui fait du bien à la Terre, et à la facture). </li>

			</br>
			<li> 1 seul petit degré Celsius de moins dans le salon, c'est 7% d'économie sur la facture de chauffage, et autant pour l'environnement.</li>
			</br>
			</ul>
		</div>
	</div>
	
	<div class="list card">
		<div class="item item-divider">
			<div class="titreinfo">
			Ce que deviennent nos </br> déchets
			</div>
		</div>
		
		<div class="item item-body">
			<ul>
		<li> Bouteilles d'eau, de jus de fruits, vos flacons de shampoing ou de produits ménagers = servent à faire du rembourrage de couettes, de peluches,
		des fibres textiles pour la fabrication de vêtements ou encore des tubes et tuyaux.</li>
		<li></br>Les boîtes et suremballages en carton ou briques alimentaires = transformés en boîte en carton ou en papier cadeau.</li>
		<li></br>Les aérosols, les boîtes de conserve ou les canettes = deviennent des ustensiles ménagers ou de nouvelles canettes. </li>
		<li></br>Les papiers, journaux, prospectus = sont utilisés pour faire de nouveaux journaux, prospectus et papiers ! </li>
		</ul>
		</br>
		<b> Mais il en faut combien ?</b>

		<ul>
		<li>20 bouteilles d'eau = une écharge polaire</li>
		<li>670 canettes = un vélo</li>
		<li>215 boîtes de conserve = un caddie</li>
		<li> 1 tonne de papier recyclé = 16 arbres préservés. (on consomme chacun 75kg de papier par an...)
		</div>
	</div>

	

  </div>
  </div>

</br>
</br>
	
  </ion-content>
</ion-view>
