<ion-view view-title="Consignes de tri">
  <ion-content class="padding">
  <div class="background">
  <div class="corpsinfo">
    <div class="list card">
		<img style="width: 100%" src="img/DD1.png" />
	</div>
	<div class="list card">
		<img style="width: 100%" src="img/DD2.png" />
	</div>
	<div class="list card">
		<img style="width: 100%" src="img/DD3.png" />
	</div>
	<div class="list card">
		<img style="width: 100%" src="img/DD4.png" />
	</div>
	<div class="list card">
		<img style="width: 100%" src="img/DD5.png" />
	</div>
	<div class="list card">
		<img style="width: 100%" src="img/DD6.png" />
	</div>
	<div class="list card">
		<img style="width: 100%" src="img/DD7.png" />
	</div>
	<div class="list card">
		<img style="width: 100%" src="img/DD8.png" />
	</div>
	
		
		
	</div>

  </div>
  </div>

  </br>
</br>
	
  </ion-content>
</ion-view>
